/*
Project 1 MIU Term 1206
Michael Smith Jr.
The Diabetic Blood Sugar Log
*/



/*a:hover{color:green; outline: 1px dotted red;}*/

body{
	background: lightblue;
}

.button{
	width: 200px; height: 44px;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 2px 3px #000;
	padding-top: 15px;
	font-weight: bold;
	font-size: 24px;
	font-family: Helvetica, sans-serif;
	text-shadow: 1px 1px lightgrey;
	text-align: center;
	background: #e4f5fc; /* Old browsers */
background: -moz-linear-gradient(top, #e4f5fc 0%, #bfe8f9 50%, #9fd8ef 51%, #2ab0ed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4f5fc), color-stop(50%,#bfe8f9), color-stop(51%,#9fd8ef), color-stop(100%,#2ab0ed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* IE10+ */
background: linear-gradient(top, #e4f5fc 0%,#bfe8f9 50%,#9fd8ef 51%,#2ab0ed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#2ab0ed',GradientType=0 ); /* IE6-9 */

/*h1{
	background: tan;
	color: white;
	padding: 20px;
	border: 1px solid black;
	border-radius: 15px;
	font-weight: bold;
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	text-shadow: 1px 1px black;
	text-align: center;
	
}*/

#questions{
	background: lightblue;
	list-style: none;
	padding:  20px;
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
}

#logItem{
	list-style: none;
	background: lightgrey;
	padding:  20px;
	margin-bottom: 10px;
	border: 1px solid black;
}

#addItem{
	background: silver;
	padding: 20px;
	border: 2px solid black;
	width: 100px;
	text-align: center;
	border-radius: 25px;
	box-shadow: 2px 5px 0 0 rgba(72,72,72,1);
}

li{
	list-style: none;
	font-family: Helvetica, sans-serif;
}
label{
	display: block;
	word-spacing: 0.2em;
}


p{
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}
legend{
	font-weight: bold;
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}


nav{
	background: white;
	border-radius: 15px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid black;
	text-align: center;
}

